.venv/
.DS_Store
.env
.ipynb_checkpoints/
__pycache__/
.wandb_api_key
logs/
code/training/wandb/
out/
linuzj/
!code/evaluation/out
!code/evaluation/out/**
!code/generation/out/
!code/generation/out/**
!code/data_generation/out/
!code/data_generation/out/**
